* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(43deg, #a683e3 0%, #a683e3 20%, #adb3eb 20%,);
    height: 100vh;
    display: flex;
    justify-content: center;

}

#mainBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 5px;
    width: 550px;
    height: 60vh;
}

.heading {
    margin: 5px;
    padding: 10px;
    font-size: 50px;
    background-color: #a683e3;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    color: #ffffff;
}

.list {
    display: flex;
    flex-direction: column;

    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin-top: 15px;
    padding: 0px;

}

ul {
    margin: 10px;
    list-style: none;
    text-align: left;
    flex-grow: 2;
    max-height: 314px;
    /* min-height: 5px; */
    background-color: #ffffff;
    overflow-y: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

ul::-webkit-scrollbar {
    display: none;
}

li {
    padding: 20px 20px;
    padding-bottom: 10px;
    margin: 1rem 2rem;
    border-bottom: 1px solid black;
    font-size: 25px;
    display: flex;

}

p {
    inline-size: 100%;
    overflow-wrap: break-word;
    padding-right: 20px;
}
.deleteAll{
    padding: .5rem;
    color: red;
    border: 1
    
    px solid red;
    border-radius: .5rem;
}

#deleteMe {
    text-align: center;
    background-color: transparent;
    color: red;
    border: none;
    font-size: 1.2rem;
}

.inputs {
    margin: 10px;
    display: flex;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff;
}

input:focus {
    border: transparent;
    outline: transparent;
}

#fetchedData {
    padding: 12px;
    flex-grow: 2;
    margin-right: 5px;
    border: none;
}

#addBtn {
    flex-grow: .2;
    font-size: 1.5rem;
    border: none;
    border-radius: 5px;
    color: #a683e3;
    background-color: transparent;
}

section{
    position: absolute;
    bottom: 0px;
    padding: 10px;
    background-color: black;
    color:white;
    width: 100vw;
    text-align: center;
    box-shadow: -1px -2px 2px 2px gray;
}
section i{
    margin-right: 10px;
    color: #a683e3;
}